#field {

  width: 700px;
  height: 750px;
  background-color: rgb(168, 168, 157);
padding: 1px;
}

#truck{
  transform-origin: 50% 80%;
  display: flex;
  width:80px;
  height: 200px;
  background-color: brown;
  margin-left: 200px;
  margin-top: 350px;
  padding: 1px;
  position: absolute;
  flex-direction: column;

}

#trunk {
  transform-origin: 50% 20%;
  margin-top: 450px;
  margin-left: 200px;
  position: absolute;
  width: 81px;
  height: 250px;
  background-color: rgb(30, 94, 94);
  border: rgb(24, 22, 26);
  border-radius: 10%;
}


#front {
  display: flex;
  height: 39%;
  width: 98%;
  background-color: burlywood;
  padding: 1px;
}

#rear{

  display: flex;
  height: 59%;
  padding: 1px;
  width: 98%;
background-color: chocolate;
padding: 1px;

}

#front-trunk{

  display: flex;
  height: 59%;
  padding: 1px;
  width: 98%;

padding: 1px;

}

#rear-trunk{

  display: flex;
  height: 29%;
  padding: 1px;
  width: 98%;

padding: 1px;

}


#wheel-front-left{

  width:10px;
  height: 35px;
  background-color: black;
  padding: 2px;
  margin-top: 20px;
  padding-left: 12px;
  margin-left: -5px;

}

#wheel-front-right{

  width:10px;
  height: 35px;
  background-color: black;
  padding: 2px;
  padding-right: 12px;
  margin-top: 20px;
  margin-left: 60px;


}

#wheel-rear-left{

  width:10px;
  height: 35px;
  background-color: black;
  padding: 2px;
  margin-top: 30px;
  padding-left: 12px;
  margin-left: -5px;
}

#wheel-rear-right{

  width:10px;
  height: 35px;
  background-color: black;
  padding: 2px;
  margin-top: 30px;
  margin-left: 60px;
  padding-right: 12px;
}